$Header-anchorColor: #5D7399;

.Header {
  align-items: center;
  background-color: #fff;
  display: flex;
  justify-content: space-between;

  &-anchorTag {
    color: $Header-anchorColor;
    display: inline-block;
    font-size: 1.35em;
    padding: 10px 10px;
    text-decoration: none;

    &:hover {
      color: lighten($Header-anchorColor, 10%);
    }
  }
}
