<header class="Header Grid-mainContainer">
  <div>
    <h1>Scope Change</h1>
  </div>
  <nav class="Header-anchorContainer">
    <%= link_to "blog", root_path, class: "Header-anchorTag" %>
    <%= link_to "about", about_path, class: "Header-anchorTag" %>
    <%= link_to "contact", contact_path, class: "Header-anchorTag" %>
  </nav>
</header>