<!DOCTYPE html>
<html>
  <%= render 'layouts/partials/head' %>
  <body class="Grid">
    <%= render 'layouts/partials/flash' %>
    <%= render 'layouts/partials/header' %>
    <main class="Grid-mainContainer">
      <%= yield %>
    </main>
  </body>
</html>
